@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
    --Linear-Gradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);
    --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
    --Light-Grayish-Blue: hsl(234, 14%, 74%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.main-container {
    min-height: 100vh;
    width: 475px;
    position: relative;
    background-color: var(--Very-Light-Grayish-Blue);
    overflow: hidden;
    margin: 50px auto;
    z-index: 0;
}
.pattern-top {
    position: absolute;
    top: -30px;
    right: -190px;
    z-index: -1;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    margin-top: 70px;
}
.header-title {
    font-size: 2em;
    color: var(--Dark-Grayish-Blue);
}
.header-choice {
    display: flex;
    align-items: center;
    gap: 25px;
}
.header-choice-year,
.header-choice-month {
    color: var(--Grayish-Blue);
}
.header-switch {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.header-switch + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}
.switch--shadow + label {
    padding: 2px;
    width: 60px;
    height: 33px;
    background: linear-gradient(hsl(236deg, 72%, 79%), hsl(237deg, 63%, 64%));
    border-radius: 60px;
}
.switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 1px;
  content: '';
}
.switch--shadow + label:before {
  right: 1px;
  background-color: linear-gradient(hsl(237deg, 63%, 64%), hsl(236deg, 72%, 79%));
  border-radius: 60px;
  transition: all 0.4s;
}
.switch--shadow + label:after {
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}
.switch--shadow:checked + label:before {
    background-color: linear-gradient(hsl(237deg, 63%, 64%), hsl(236deg, 72%, 79%));
}
.switch--shadow:checked + label:after {
    transform: translateX(27px);
}
.menu {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    z-index: 1;
}
.menu-prices {
    width: 329px;
    height: 454px;
    background-color: white;
    padding: 0 30px;
    border-radius: 10px;
}
.menu-title {
    color: var(--Dark-Grayish-Blue);
    text-align: center;
    margin-top: 35px;
    font-size: 1.2em;
}
.price {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 5px;
}
.menu-value {
    font-size: 4.3em;
    color: var(--Dark-Grayish-Blue);
}
.dollar {
    color: var(--Dark-Grayish-Blue);
    font-size: 2.5em;
}
.menu-line {
    border: 0.1px solid var(--Light-Grayish-Blue);
    width: 270px;
    margin-top: 15px;
}
.menu-info {
    color: var(--Dark-Grayish-Blue);
    text-align: center;
    margin-top: 15px;
}
.menu-btn {
    width: 270px;
    height: 45px;
    background: linear-gradient(hsl(237deg, 63%, 64%), hsl(236deg, 72%, 79%));
    margin-top: 35px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    transition: 0.5s;
}
.menu-btn:hover {
    background: white;
    color: hsl(237deg, 63%, 64%);
    border: 1px solid var(--Dark-Grayish-Blue);
}
.pattern-bottom {
    display: none;
}
.active {
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}
.white {
    color: white;
}
.invert {
    background: white;
    color: hsl(237deg, 63%, 64%);
}
.invert:hover {
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    border: 1px solid white;
}

@media (min-width: 1200px) {
    .main-container {
        width: 1200px;
    }
    .header-title {
        font-size: 2.5em;
    }
    .menu {
        margin-top: 80px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .active {
        transform: scale(1.1);
    }
}